################################
# Cell 01:
################################

<h1> Conversão de Datas </h1>

<h1 style="background-color:orange;color:white;padding-top:10px;text-align:center;font-weight:bold;font-style:italic;font-size:2cm;padding-bottom:30px;">Conversão de Datas </h1>

 Markdown
 SHIFT + ENTER

################################
# Cell 02:
################################

<div style="margin-left:0px;">
<img style="float:left;margin:0px;height:150px;" src="https://www.analyticssteps.com/backend/media/thumbnail/6350483/7807104_1578230927_time_analysis_tittle-banner%20(1).jpg" width="33%"/>
<img style="float:left;margin:1px;height:150px;" src="https://www.analyticssteps.com/backend/media/thumbnail/6350483/7807104_1578230927_time_analysis_tittle-banner%20(1).jpg" width="33%"/>
<img style="float:left;margin:1px;height:150px;" src="https://www.analyticssteps.com/backend/media/thumbnail/6350483/7807104_1578230927_time_analysis_tittle-banner%20(1).jpg" width="33%"/>
</div>

################################
# Cell 03:
################################

<h2> Exemplo 01 </h2>

<h2 style="background-color:orange;color:white;padding-top:10px;text-align:center;font-weight:bold;font-style:italic;font-size:1cm;padding-bottom:20px;"> Exemplo 01  </h2>

 Markdown
 SHIFT + ENTER

################################
# Cell 04:
################################

In [3]:
# 01. Importar:
#     Bibliotecas: matplotlib, numpy
#     Módulos: pyplot
import pandas as pd

# Create a pandas DataFrame with a column of date strings
# Criação de um "dateframe" - folha de cálculo do Excel
# - Uma lista de dicionários em Python:
#   - Conjunto de linhas
# - Um dicionário com listas (uma lista por cada coluna).
df = pd.DataFrame({'Date': ['2022/03-26', '2022/03-27', '2022/03-28']})
df
# # Convert the 'date' column to datetime objects using to_datetime()
df['Date'] = pd.to_datetime(df['Date'])
df
# Print the resulting DataFrame

        Date
0 2022-03-26
1 2022-03-27
2 2022-03-28

################################
# Cell 05:
################################

In [4]:
# 01. Importar:
#     Bibliotecas: matplotlib, numpy
#     Módulos: pyplot
import pandas as pd

# Create a pandas DataFrame with a column of date strings
# Criação de um "dateframe" - folha de cálculo do Excel
# - Uma lista de dicionários em Python:
#   - Conjunto de linhas
# - Um dicionário com listas (uma lista por cada coluna).
df = pd.DataFrame({'Date': ['2022/03-26', '2022/03-27', '2022/03-28'],'Vendas':[1000,500, 750]})
df
# # Convert the 'date' column to datetime objects using to_datetime()
df['Date'] = pd.to_datetime(df['Date'])
df
# Print the resulting DataFrame

        Date  Vendas
0 2022-03-26    1000
1 2022-03-27     500
2 2022-03-28     750


################################
# Cell 06:
################################

<h2> Exemplo 02 </h2>

<h2 style="background-color:orange;color:white;padding-top:10px;text-align:center;font-weight:bold;font-style:italic;font-size:1cm;padding-bottom:20px;"> Exemplo 02  </h2>


 Markdown
 SHIFT + ENTER

################################
# Cell 07:
################################

In [5]:
# 01. Importar:
#     Bibliotecas: matplotlib, numpy
#     Módulos: pyplot
import pandas as pd

# Create a pandas DataFrame with a column of date strings
df = pd.DataFrame({'Date': ['26032022', '27032022', '28032022']})

# Convert the 'date' column to datetime objects using to_datetime() with format parameter
df['Date'] = pd.to_datetime(df['Date'], format='%d%m%Y')

# Print the resulting DataFrame
df

        Date
0 2022-03-26
1 2022-03-27
2 2022-03-28

-----------------

https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

If a DataFrame is passed, then format has no effect

--------------------------------

################################
# Cell 08:
################################

<h2> Exemplo 03 </h2>

<h2 style="background-color:orange;color:white;padding-top:10px;text-align:center;font-weight:bold;font-style:italic;font-size:1cm;padding-bottom:20px;"> Exemplo 03  </h2>

 Markdown
 SHIFT + ENTER

################################
# Cell 09:
################################

In [6]:
# 01. Importar:
#     Bibliotecas: matplotlib, numpy
#     Módulos: pyplot
import pandas as pd
import numpy as np

# Create a pandas DataFrame with a column of date strings, including a missing value
df = pd.DataFrame({'date': ['2022-03-26', '2022-03-27', None, '2022-03-29']})


# Convert the 'date' column to datetime objects using to_datetime() with errors parameter
df['date'] = pd.to_datetime(df['date'], errors='coerce')
#df['date'] = pd.to_datetime(df['date'])
df


# Fill in missing values with a default date
df['date'] = df['date'].fillna(pd.to_datetime('2022-01-01'))

# # Print the resulting DataFrame
df

        date
0 2022-03-26
1 2022-03-27
2 2022-01-01
3 2022-03-29

--------------------------

-----------------


https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

errors{‘ignore’, ‘raise’, ‘coerce’}, default ‘raise’
If 'raise', then invalid parsing will raise an exception.
If 'coerce', then invalid parsing will be set as NaT.
If 'ignore', then invalid parsing will return the input.

***************************************************************